img{
	display:block;
	margin:auto;
}

body{
	max-width: 100vw;
	min-height: 100vh;
	background-image: url("../img/Fondo\ restaurante.jpg");
	background-color: rgb(20, 17, 15);
	backdrop-filter: blur(2px);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin: 0px;
}

.wifeo_pagemenu > a{color:#F3F3F4;text-decoration:none}

.wifeo_rubrique > a{color:#14110F;text-decoration:none} 

.wifeo_rubrique:hover > a{color:#14110F;font-weight:bold;text-decoration:none} 

.wifeo_pagesousmenu > a{color:#7E7F83;text-decoration:none} 

.wifeo_conteneur_menu{border-spacing:0px} 

.wifeo_conteneur_menu{width:100%;display:table;height:30px} 

.wifeo_conteneur_menu a{text-decoration:none;display:table-cell;vertical-align:middle;height:30px} 

.wifeo_pagemenu, .wifeo_rubrique{float:left;width:25%;display:table;vertical-align:middle;position:relative}
@media screen and (min-device-width:1024px){.wifeo_pagemenu span, .wifeo_rubrique span{color:#F3F3F4;position:relative;display:inline-block;padding:5px 0 5px;background-color:#34312D;width:100%;height:30px;text-align:center;font-size:22px;border-bottom:3px solid #000000;-webkit-transition:-webkit-transform 0.5s;-moz-transition:-moz-transform 0.5s;-ms-transition:-ms-transform 0.5s;-o-transition:-o-transform 0.5s;transition:transform 0.5s;-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-ms-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0;transform-style:preserve-3d}}

.wifeo_pagemenu a, .wifeo_rubrique > a{color:#14110F;position:absolute;display:inline-block;padding-top:5px;padding-bottom:5px;background-color:#34312D;width:100%;height:30px;text-align:center;font-size:22px} @media screen and (min-device-width:1024px){
	.wifeo_pagemenu a, .wifeo_rubrique > a{color:#14110F;position:absolute;display:inline-block;padding-top:5px;padding-bottom:5px;background-color:#D9C5B2;width:100%;height:30px;text-align:center;font-size:22px}}

	.wifeo_pagemenu:hover span, .wifeo_rubrique:hover span{width:100%;height:30px;box-shadow:10px 35px 70px 0px #333333} @media screen and (min-device-width:1024px){
	
	.wifeo_pagemenu:hover span, .wifeo_rubrique:hover span{color:#34312D;-webkit-transform:rotateX(85deg) translateY(-22px);-moz-transform:rotateX(85deg) translateY(-22px);-ms-transform:rotateX(85deg) translateY(-22px);-o-transform:rotateX(85deg) translateY(-22px);transform:rotateX(85deg) translateY(-22px);-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-ms-transition:all 0.25s ease;-o-transition:all 0.25s ease;transition:all 0.25s ease}} 

.wifeo_sousmenu{width:100%;left:0;opacity:0;position:absolute;top:0px;visibility:hidden;z-index:5;border-bottom:3px solid #7F6B58} @media screen and (min-device-width:1024px){
	.wifeo_sousmenu{-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-ms-transition:all 0.25s ease;-o-transition:all 0.25s ease;transition:all 0.25s ease}} 

.wifeo_pagesousmenu{width:100%;text-align:center;display:table} 

.wifeo_sousmenu a{padding-left:5px;padding-right:5px;text-shadow:none;background-position:center;			text-align:center;background-color:#D9C5B2;font-size:22px} 

.wifeo_rubrique:hover > .wifeo_sousmenu{opacity:1;top:40px;visibility:visible}






main
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	flex-direction: column;
	width: 100vw;
	
}

.galeria

{
	position: relative;
	width: 1000PX;

}
.imagen

{
	display: block;
	width: 100%;
	border-radius: 15px;
}
.imagen:hover 
{
	filter: blur(5px);
}

.galeria:hover .imagen
{
	-webkit-transform:scale(1.2) ease-in-out;
	transform:scale(1.2);
	transition: 1s ease-in-out;
}
.galeria 
{
	overflow: hidden;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sobre_imagen
{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.6);
	font-family: Georgia, serif;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 15px;
}

.sobre_imagen:hover
{
	opacity: 1;
}

.titulo
{
	font-size: 50px;
}

p
{
	font-size: larger;
}
